.title {
    text-align: center;
}

.subtitle {
        text-align: center;
}

.main-image {
    border: 1px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}
.fig-caption {
    text-align: center;
}
.video {
    display: block;
    margin: auto;   
}
.grid-title {
    text-align: center;
}

#grid-position {
    display: flex;
    justify-content: center;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 5px;
    width: 1105px;
    align-items: center;
}
.right-grid-images img {
    height: 300px;
    display: block;
    margin-left: 0px;
    margin-right: auto;
}
.left-grid-images img {
    height: 300px;
    display: block;
    margin-right: 0px;
    margin-left: auto;
}
#grid-cell1 {
    justify-self: center;
    width: 100%;
    max-height: 300px;
    text-align: right;
}
#grid-cell2 {
    justify-self: center;
    width: 100%;
    max-height: 300px;
}

#grid-cell3 {
    justify-self: center;
    width: 100%;
    max-height: 300px;
}

#grid-cell4 {
    justify-self: center;
    width: 100%;
    max-height: 300px;
    text-align: left;
}

#grid-cell5 {
    justify-self: center;
    width: 100%;
    max-height: 300px;
    text-align: right;
}

#grid-cell6 {
    justify-self: center;
    width: 100%;
    max-height: 300px;
}

#grid-cell7 {
    justify-self: center;
    width: 100%;
    max-height: 300px;
}

#grid-cell8 {
    justify-self: center;
    width: 100%;
    max-height: 300px;
    text-align: left;
}
.footer-text {
    text-align: center;
}